@import url('https://fonts.googleapis.com/css?family=Chewy|PT+Sans:400,700');

:root {
  --dominant-color: #F55651;
  --accent-color: #23693B;
  --bg-color: #CFA997;
  --nav-color: #692523;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #CFA997;
}

header {
  color: var(--dominant-color);
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

nav {
  padding: 20px;
  height: 100px;
  width: 100%;
  background-color: var(--nav-color);
}

h1 {
  font-size: 50px;
  font-family: Chewy, cursive;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-family: Chewy, cursive;
  margin: 0;
}


main {
  padding: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  color: var(--dominant-color);
}

.background-dog {
  text-shadow: 1px 1px 2px black;
  width: 100%;
  height: 1000px;
  text-align: center;
  color: #fff;
  background-image: url(../images/shiba-inu.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}