@import url('https://fonts.googleapis.com/css?family=Chewy|PT+Sans:400,700');

:root {
  --dominant-color: #dd1c1a;
  --accent-color: #1bde58;
  --bg-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  padding: 0 10px;
}

header {
  padding: 20px;
  color: var(--dominant-color);
  background-color: var(--bg-color);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Chewy, cursive;
  color: #fff;
  margin: 0;
}

p {
  background-color: #fafafa;
  font-family: "PT Sans", sans-serif;
}

strong {
  color: var(--accent-color);
}

nav {
  padding: 20px;
  width: 100%;
  background: #3e363f;
}

main {
  padding: 20px;
}

.inline-block {
  display: inline-block;
  width: 50%;
  height: 400px;
}

.dog-image {
  border-radius: 5%;
}